<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div
      *ngFor="let film of carouselFilm; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <img
        src="https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}"
        class="d-block w-100"
        [alt]="film.title"
      />

      <div class="carousel-caption d-md-block film">
        <h1>{{ film.title }}</h1>

        <button class="btn btn-primary btn-play">
          Play <i class="fas fa-play"></i>
        </button>
        <button
          class="btn btn-secondary btn-info"
          [routerLink]="['info', film.id]"
        >
          Info <i class="fas fa-info-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
