<div class="center-screen">
  <h1>Create an account</h1>
  <form #laForm="ngForm" class="auth" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        #nameInput="ngModel"
        matInput
        type="text"
        name="name"
        [(ngModel)]="model.name"
        placeholder="Name..."
        required
      />
      <mat-error *ngIf="nameInput.hasError('required')"
        >Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        #emailInput="ngModel"
        matInput
        type="email"
        name="email"
        [(ngModel)]="model.email"
        placeholder="E-mail..."
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >E-mail is required</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('pattern')"
        >Invalid e-mail format</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        #passwordInput="ngModel"
        matInput
        type="password"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password..."
        required
      />
      <mat-error *ngIf="passwordInput.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      type="submit"
      [disabled]="laForm.form.invalid"
      [style.background-color]="laForm.form.invalid ? 'white' : ''"
    >
      Entra
    </button>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </form>
  <p>Do you already have an account? <br /><a href="/login">Log in</a></p>
</div>
