<footer class="footer py-4">
  <div class="container text-center">
    <div class="row">
      <div class="col cont">
        <a href="https://www.instagram.com/riccardo_raffaele/" target="_blank">
          <img
            src="../../../assets/icons8-instagram-96.png"
            class="img-fluid"
            alt="logo instagram"
          />
        </a>
      </div>
      <div class="col cont">
        <a
          href="https://www.linkedin.com/in/riccardo-raffaele-509190212/"
          target="_blank"
        >
          <img
            src="../../../assets/icons8-linkedin-96.png"
            class="img-fluid"
            alt="logo linkedin"
          />
        </a>
      </div>
      <div class="col cont">
        <a href="https://www.labfortraining.it/" target="_blank">
          <img
            src="../../../assets/labforlogo.png"
            class="img-fluid custom-logo"
            alt="logo labfortraining"
          />
        </a>
      </div>
      <div class="col cont">
        <img
          src="../../../assets/icons8-contattaci-96.png"
          class="img-fluid"
          alt="logo labfortraining"
          routerLink="/contacts"
        />
      </div>
    </div>
  </div>
</footer>
