<nav
  class="navbar navbar-expand-lg fixed-top"
  [ngStyle]="navbg"
  *ngIf="authService.isUserLogged"
>
  <div class="container-fluid">
    <button
      #navbarToggler
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-danger fs-5 fw-bold me-3"
            aria-current="page"
            routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-danger fs-5 fw-bold me-3"
            routerLink="purchased"
            >Purchased</a
          >
        </li>
      </ul>
      <ng-container class="login" *ngIf="authService.isUserLogged">
        <button
          type="button"
          class="btn btn-outline-danger"
          style="margin-right: 2%"
          (click)="logout()"
        >
          Welcome {{ authService.getLoggedUser()!.user.name }} <br />(Exit)
        </button>
      </ng-container>
      <form
        class="d-flex"
        role="search"
        [formGroup]="searchForm"
        (ngSubmit)="submitForm()"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Movie Here...."
          aria-label="Search"
          formControlName="movieName"
        />
        <button
          class="btn btn-outline-danger"
          type="submit"
          routerLink="search"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
