.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

h1 {
  color: red;
  margin-bottom: 2vh;
  font-weight: bold;
}

.carousel-inner {
  width: 100%;
}

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev,
.next {
  width: 2.5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  border-radius: 0 5px 5px 0;
}

.next {
  border-radius: 5px 0 0 5px;
}

.card-subtitle,
.card-title,
.card-text,
.card-link {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.card:hover .card-subtitle,
.card:hover .card-text,
.card:hover .card-link,
.card:hover .card-title {
  max-height: 100%;
  opacity: 1;
}

img {
  cursor: pointer;
}

p {
  margin-top: 2vh;
}

.btn {
  background-color: rgba(240, 255, 255, 0);
  transition: 1s ease-in-out;
  color: white;
  border-color: white;
  opacity: 0;
}

.btn:hover {
  background-color: white;
  color: red;
  opacity: 1;
}

.btn-play {
  margin-right: 10px;
}

.card:hover .btn {
  opacity: 1;
}

i {
  margin-left: 1.2px;
}
