<app-carousel></app-carousel>

<div class="popularCarousel carousel slide" data-bs-ride="carousel">
  <h1>Popular</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-around">
        <div
          *ngFor="let film of getVisibleFilms(popularStartIndex, popularFilms!)"
          class="card g-2"
          style="width: 18rem; background-color: black"
        >
          <div class="card-body">
            <h3 class="card-title" style="color: white">{{ film.title }}</h3>
            <h6 class="card-subtitle mb-2" style="color: white">
              {{ film.release_date }}
            </h6>
            <img
              [src]="getMoviePosterUrl(film.poster_path)"
              class="card-img-top"
              [alt]="film.title"
              [routerLink]="['/info', film.id]"
            />
            <p class="card-text" style="color: white">{{ film.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-controls d-flex align-items-center">
    <button
      class="carousel-control-prev prev my-auto"
      type="button"
      (click)="loadPreviousPopularFilms()"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next next my-auto"
      type="button"
      (click)="loadNextPopularFilms()"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- 2 carousel -->
<div class="popularCarousel carousel slide" data-bs-ride="carousel">
  <h1>Upcoming</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-around">
        <div
          *ngFor="
            let film of getVisibleFilms(upComingStartIndex, upComingFilms!)
          "
          class="card g-2"
          style="width: 18rem; background-color: black"
        >
          <div class="card-body">
            <h3 class="card-title" style="color: white">{{ film.title }}</h3>
            <h6 class="card-subtitle mb-2" style="color: white">
              {{ film.release_date }}
            </h6>
            <img
              [src]="getMoviePosterUrl(film.poster_path)"
              class="card-img-top"
              [alt]="film.title"
              [routerLink]="['/info', film.id]"
            />
            <p class="card-text" style="color: white">{{ film.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-controls d-flex align-items-center">
    <button
      class="carousel-control-prev prev my-auto"
      type="button"
      (click)="loadPreviousUpComingFilms()"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next next my-auto"
      type="button"
      (click)="loadNextUpComingFilms()"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
