<div class="center-screen">
  <h1>Log in</h1>
  <form #laForm="ngForm" class="auth" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        #emailInput="ngModel"
        matInput
        type="email"
        name="email"
        [(ngModel)]="model.email"
        placeholder="Email..."
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >E-mail is required</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('pattern')"
        >Invalid e-mail format</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        #passwordInput="ngModel"
        matInput
        type="password"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password..."
        required
      />
      <mat-error *ngIf="passwordInput.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      type="submit"
      [disabled]="laForm.form.invalid"
      [style.background-color]="laForm.form.invalid ? 'white' : ''"
    >
      Log In
    </button>

    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    <p>Don't have an account yet?<a href="/register">make it</a></p>
  </form>
</div>
