body,
html {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

img {
  width: 70%;
  height: auto;
  cursor: pointer;
}

.container {
  margin: 0 auto;
}

h4 {
  color: white;
}

@media (min-width: 760px) {
  img {
    width: 65%;
    height: auto;
  }

  .container {
    margin-left: 5%;
  }
}

@media (min-width: 1100px) {
  img {
    width: 100%;
    height: auto;
  }

  .container {
    margin-left: 2%;
  }
}
